.messageCard {
  composes: messageCard from "../../../shared/styles/messageCard.module.css";
}

.messageCardTitle {
  composes: messageCardTitle from "../../../shared/styles/messageCard.module.css";
}

.messageCardText {
  composes: messageCardText from "../../../shared/styles/messageCard.module.css";
}
