.description {
  color: var(--text-primary);
  font-size: 0.95rem;
  line-height: 1.5;
}

.description + .description {
  margin-top: var(--m-sm);
}

.submitError {
  composes: submitError from "../../../shared/styles/modalForm.module.css";
}

.cancelButton {
  composes: cancelButton from "../../../shared/styles/modalForm.module.css";
}
